<h1>タスクリスト</h1>
<h2>{{ test }}</h2>

<form ,method="GET">
<input type="text" name="search" value="{{ search }}">
<input type="submit" value="検索">
</form>

<a href="{% url 'task-create' %}">作成</a>

<table>
  <tr>
    <th>タスク</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.title }}</td>
    <td><a href="{% url 'task-detail' task.id %}">確認</a></td>
    <td><a href="{% url 'task-update' task.id %}">更新</a></td>
    <td><a href="{% url 'task-delete' task.id %}">削除</a></td>
  </tr>
  {% endfor %}
</table>

<div>
  {% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">ログアウト</a>
  {% else %}
    <a href="{% url 'login' %}">ログイン</a>
  {% endif %}
</div>